<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="4090六足3.0.SLDASM">
  <link
    name="BASE">
    <inertial>
      <origin
        xyz="0.20011825293162 2.31310424582961E-07 0.0527224714838719"
        rpy="0 0 0" />
      <mass
        value="7.44160057363592" />
      <inertia
        ixx="0.550673341430934"
        ixy="-1.38784303153858E-07"
        ixz="8.47301816983893E-06"
        iyy="0.102252370093071"
        iyz="-3.4667984349993E-08"
        izz="0.64266708793014" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/BASE.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.866666666666667 0.909803921568627 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/BASE.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="RF_HIP">
    <inertial>
      <origin
        xyz="-0.02841 -0.0013383 0.10482"
        rpy="0 0 0" />
      <mass
        value="1.1161" />
      <inertia
        ixx="0.0013596"
        ixy="-3.0591E-05"
        ixz="0.00022242"
        iyy="0.0021096"
        iyz="1.3892E-05"
        izz="0.0016645" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/RF_HIP.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/RF_HIP.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RF_HAA"
    type="revolute">
    <origin
      xyz="0.1 -0.45 0.0895"
      rpy="3.1416 0 0" />
    <parent
      link="BASE" />
    <child
      link="RF_HIP" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RF_THIGH">
    <inertial>
      <origin
        xyz="-0.028479 0.012492 -0.080989"
        rpy="0 0 0" />
      <mass
        value="1.0012" />
      <inertia
        ixx="0.0010478"
        ixy="0.00092923"
        ixz="2.6386E-05"
        iyy="0.0021293"
        iyz="-1.1574E-05"
        izz="0.0028121" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/RF_THIGH.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/RF_THIGH.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RF_HFE"
    type="revolute">
    <origin
      xyz="-0.09 0.0795 0.154"
      rpy="-1.5708 0 0" />
    <parent
      link="RF_HIP" />
    <child
      link="RF_THIGH" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RF_SHANK">
    <inertial>
      <origin
        xyz="-0.0012227 -0.10733 -0.010883"
        rpy="0 0 0" />
      <mass
        value="0.57767" />
      <inertia
        ixx="0.0044964"
        ixy="-5.3153E-05"
        ixz="1.1428E-08"
        iyy="6.7098E-05"
        iyz="2.4178E-06"
        izz="0.0045207" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/RF_SHANK.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/RF_SHANK.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RF_KFE"
    type="revolute">
    <origin
      xyz="-0.1782 0.090798 -0.0685"
      rpy="0 0 0" />
    <parent
      link="RF_THIGH" />
    <child
      link="RF_SHANK" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RF_FOOT">
    <inertial>
      <origin
        xyz="0.0031505 0.018764 0.00025041"
        rpy="0 0 0" />
      <mass
        value="0.065235" />
      <inertia
        ixx="1.2148E-05"
        ixy="-6.015E-08"
        ixz="2.7952E-08"
        iyy="1.3209E-05"
        iyz="-9.5546E-08"
        izz="1.4307E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/RF_FOOT.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.50196 0.50196 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/RF_FOOT.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RF_FIX"
    type="fixed">
    <origin
      xyz="-0.0081826 -0.29917 -0.011107"
      rpy="0 0 0" />
    <parent
      link="RF_SHANK" />
    <child
      link="RF_FOOT" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="RM_HIP">
    <inertial>
      <origin
        xyz="-0.02841 -0.0013382 0.10482"
        rpy="0 0 0" />
      <mass
        value="1.1161" />
      <inertia
        ixx="0.0013596"
        ixy="-3.06E-05"
        ixz="0.00022242"
        iyy="0.0021096"
        iyz="1.3892E-05"
        izz="0.0016645" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/RM_HIP.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/RM_HIP.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RM_HAA"
    type="revolute">
    <origin
      xyz="0 0 0.0895"
      rpy="3.1416 0 0" />
    <parent
      link="BASE" />
    <child
      link="RM_HIP" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RM_THIGH">
    <inertial>
      <origin
        xyz="-0.028479 0.012492 -0.080989"
        rpy="0 0 0" />
      <mass
        value="1.0012" />
      <inertia
        ixx="0.0010478"
        ixy="0.00092923"
        ixz="2.6386E-05"
        iyy="0.0021293"
        iyz="-1.1574E-05"
        izz="0.0028121" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/RM_THIGH.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/RM_THIGH.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RM_HFE"
    type="revolute">
    <origin
      xyz="-0.09 0.0795 0.154"
      rpy="-1.5708 0 0" />
    <parent
      link="RM_HIP" />
    <child
      link="RM_THIGH" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RM_SHANK">
    <inertial>
      <origin
        xyz="-0.0012227 -0.10733 -0.010883"
        rpy="0 0 0" />
      <mass
        value="0.57767" />
      <inertia
        ixx="0.0044964"
        ixy="-5.3153E-05"
        ixz="1.1428E-08"
        iyy="6.7098E-05"
        iyz="2.4178E-06"
        izz="0.0045207" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/RM_SHANK.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/RM_SHANK.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RM_KFE"
    type="revolute">
    <origin
      xyz="-0.1782 0.090798 -0.0685"
      rpy="0 0 0" />
    <parent
      link="RM_THIGH" />
    <child
      link="RM_SHANK" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RM_FOOT">
    <inertial>
      <origin
        xyz="0.0031505 0.018764 0.00025045"
        rpy="0 0 0" />
      <mass
        value="0.065235" />
      <inertia
        ixx="1.2148E-05"
        ixy="-6.0158E-08"
        ixz="2.7965E-08"
        iyy="1.3209E-05"
        iyz="-9.5566E-08"
        izz="1.4307E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/RM_FOOT.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.50196 0.50196 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/RM_FOOT.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RM_FIX"
    type="fixed">
    <origin
      xyz="-0.0081826 -0.29917 -0.011107"
      rpy="0 0 0" />
    <parent
      link="RM_SHANK" />
    <child
      link="RM_FOOT" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="RB_HIP">
    <inertial>
      <origin
        xyz="-0.02841 0.0013388 0.10452"
        rpy="0 0 0" />
      <mass
        value="1.1161" />
      <inertia
        ixx="0.0013596"
        ixy="3.0609E-05"
        ixz="0.00022242"
        iyy="0.0021096"
        iyz="-1.3892E-05"
        izz="0.0016645" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/RB_HIP.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/RB_HIP.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RB_HAA"
    type="revolute">
    <origin
      xyz="0.1 0.45 0.0892"
      rpy="3.1416 0 0" />
    <parent
      link="BASE" />
    <child
      link="RB_HIP" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RB_THIGH">
    <inertial>
      <origin
        xyz="-0.020495 0.00899 -0.083041"
        rpy="0 0 0" />
      <mass
        value="1.3913" />
      <inertia
        ixx="0.0013995"
        ixy="0.00092923"
        ixz="-2.6386E-05"
        iyy="0.0024811"
        iyz="1.1574E-05"
        izz="0.0034735" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/RB_THIGH.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/RB_THIGH.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RB_HFE"
    type="revolute">
    <origin
      xyz="-0.09 0.0945 0.1537"
      rpy="-1.5708 0 0" />
    <parent
      link="RB_HIP" />
    <child
      link="RB_THIGH" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RB_SHANK">
    <inertial>
      <origin
        xyz="-0.001255 -0.10733 -0.011117"
        rpy="0 0 0" />
      <mass
        value="0.57767" />
      <inertia
        ixx="0.0044965"
        ixy="-4.9108E-05"
        ixz="-4.438E-08"
        iyy="6.7005E-05"
        iyz="-2.4174E-06"
        izz="0.0045207" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/RB_SHANK.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/RB_SHANK.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RB_KFE"
    type="revolute">
    <origin
      xyz="-0.1782 0.090798 -0.0835"
      rpy="0 0 0" />
    <parent
      link="RB_THIGH" />
    <child
      link="RB_SHANK" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RB_FOOT">
    <inertial>
      <origin
        xyz="-0.00271658099999497 0.0188315867457448 -0.000250448844782425"
        rpy="0 0 0" />
      <mass
        value="0.0652348538555784" />
      <inertia
        ixx="1.2151281102867E-05"
        ixy="8.45710400772883E-08"
        ixz="3.01755082389872E-08"
        iyy="1.32055889001146E-05"
        iyz="9.48720653283988E-08"
        izz="1.43072574928687E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/RB_FOOT.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.501960784313725 0.501960784313725 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/RB_FOOT.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RB_FIX"
    type="fixed">
    <origin
      xyz="0.0012754 -0.29928 -0.010893"
      rpy="0 0 0" />
    <parent
      link="RB_SHANK" />
    <child
      link="RB_FOOT" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="LF_HIP">
    <inertial>
      <origin
        xyz="-0.0284096415016908 -0.00133826420675093 -0.104822742328414"
        rpy="0 0 0" />
      <mass
        value="1.11609827930892" />
      <inertia
        ixx="0.00135962073161634"
        ixy="-3.06080633043529E-05"
        ixz="-0.000222421453388719"
        iyy="0.00210958996501055"
        iyz="-1.38916156332626E-05"
        izz="0.0016644859254936" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/LF_HIP.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/LF_HIP.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LF_HAA"
    type="revolute">
    <origin
      xyz="0.3 -0.45 0.0895"
      rpy="0 0 3.1416" />
    <parent
      link="BASE" />
    <child
      link="LF_HIP" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="LF_THIGH">
    <inertial>
      <origin
        xyz="-0.0284793864088505 0.0124922847130273 0.080989191133168"
        rpy="0 0 0" />
      <mass
        value="1.00124208339402" />
      <inertia
        ixx="0.001047772429436"
        ixy="0.000929231483296638"
        ixz="-2.63860235389284E-05"
        iyy="0.00212933816261843"
        iyz="1.15741891396455E-05"
        izz="0.00281211985283666" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/LF_THIGH.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/LF_THIGH.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LF_HFE"
    type="revolute">
    <origin
      xyz="-0.09 0.0795 -0.154"
      rpy="1.5708 0 0" />
    <parent
      link="LF_HIP" />
    <child
      link="LF_THIGH" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="LF_SHANK">
    <inertial>
      <origin
        xyz="-0.00125500608314011 -0.107331782247018 0.0108827996779152"
        rpy="0 0 0" />
      <mass
        value="0.577673514828143" />
      <inertia
        ixx="0.00449645483046403"
        ixy="-4.91078712883109E-05"
        ixz="-4.43795324971019E-08"
        iyy="6.70048835728809E-05"
        iyz="-2.41738131906584E-06"
        izz="0.00452066750610664" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/LF_SHANK.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/LF_SHANK.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LF_KFE"
    type="revolute">
    <origin
      xyz="-0.1782 0.090798 0.0685"
      rpy="0 0 0" />
    <parent
      link="LF_THIGH" />
    <child
      link="LF_SHANK" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="LF_FOOT">
    <inertial>
      <origin
        xyz="0.00271656736681958 0.0188315943234567 0.00025042343045889"
        rpy="0 0 0" />
      <mass
        value="0.0652349946450809" />
      <inertia
        ixx="1.21513086039564E-05"
        ixy="-8.45642904110762E-08"
        ixz="3.01642816343816E-08"
        iyy="1.32056141029123E-05"
        iyz="-9.48605110233162E-08"
        izz="1.43072682919343E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/LF_FOOT.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.501960784313725 0.501960784313725 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/LF_FOOT.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LF_FIX"
    type="fixed">
    <origin
      xyz="0.0012754 -0.29928 0.011107"
      rpy="3.1416 0 3.1416" />
    <parent
      link="LF_SHANK" />
    <child
      link="LF_FOOT" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="LM_HIP">
    <inertial>
      <origin
        xyz="-0.02841 -0.0013383 -0.10482"
        rpy="0 0 0" />
      <mass
        value="1.1161" />
      <inertia
        ixx="0.0013596"
        ixy="-3.0609E-05"
        ixz="-0.00022242"
        iyy="0.0021096"
        iyz="-1.3892E-05"
        izz="0.0016645" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/LM_HIP.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/LM_HIP.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LM_HAA"
    type="revolute">
    <origin
      xyz="0.4 0 0.0895"
      rpy="0 0 3.1416" />
    <parent
      link="BASE" />
    <child
      link="LM_HIP" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="LM_THIGH">
    <inertial>
      <origin
        xyz="-0.028479 0.012492 0.080989"
        rpy="0 0 0" />
      <mass
        value="1.0012" />
      <inertia
        ixx="0.0010478"
        ixy="0.00092923"
        ixz="-2.6386E-05"
        iyy="0.0021293"
        iyz="1.1574E-05"
        izz="0.0028121" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/LM_THIGH.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/LM_THIGH.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LM_HFE"
    type="revolute">
    <origin
      xyz="-0.09 0.0795 -0.154"
      rpy="1.5708 0 0" />
    <parent
      link="LM_HIP" />
    <child
      link="LM_THIGH" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="LM_SHANK">
    <inertial>
      <origin
        xyz="-0.001255 -0.10733 0.010883"
        rpy="0 0 0" />
      <mass
        value="0.57767" />
      <inertia
        ixx="0.0044965"
        ixy="-4.9108E-05"
        ixz="-4.438E-08"
        iyy="6.7005E-05"
        iyz="-2.4174E-06"
        izz="0.0045207" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/LM_SHANK.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/LM_SHANK.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LM_KFE"
    type="revolute">
    <origin
      xyz="-0.1782 0.090798 0.0685"
      rpy="0 0 0" />
    <parent
      link="LM_THIGH" />
    <child
      link="LM_SHANK" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="LM_FOOT">
    <inertial>
      <origin
        xyz="0.0027166 0.018832 0.00025041"
        rpy="0 0 0" />
      <mass
        value="0.065235" />
      <inertia
        ixx="1.2151E-05"
        ixy="-8.4562E-08"
        ixz="3.0162E-08"
        iyy="1.3206E-05"
        iyz="-9.4852E-08"
        izz="1.4307E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/LM_FOOT.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.50196 0.50196 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/LM_FOOT.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LM_FIX"
    type="fixed">
    <origin
      xyz="0.0012754 -0.29928 0.011107"
      rpy="3.1416 0 3.1416" />
    <parent
      link="LM_SHANK" />
    <child
      link="LM_FOOT" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="LB_HIP">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/LB_HIP.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/LB_HIP.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LB_HAA"
    type="revolute">
    <origin
      xyz="0.3 0.45 0.0895"
      rpy="0 0 3.1416" />
    <parent
      link="BASE" />
    <child
      link="LB_HIP" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="LB_THIGH">
    <inertial>
      <origin
        xyz="-0.028479 0.012492 0.093011"
        rpy="0 0 0" />
      <mass
        value="1.0012" />
      <inertia
        ixx="0.0010478"
        ixy="0.00092923"
        ixz="2.6386E-05"
        iyy="0.0021293"
        iyz="-1.1574E-05"
        izz="0.0028121" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/LB_THIGH.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/LB_THIGH.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LB_HFE"
    type="revolute">
    <origin
      xyz="-0.09 0.0945 -0.154"
      rpy="1.5708 0 0" />
    <parent
      link="LB_HIP" />
    <child
      link="LB_THIGH" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="LB_SHANK">
    <inertial>
      <origin
        xyz="-0.0012227 -0.10733 0.011117"
        rpy="0 0 0" />
      <mass
        value="0.57767" />
      <inertia
        ixx="0.0044964"
        ixy="-5.3153E-05"
        ixz="1.1428E-08"
        iyy="6.7098E-05"
        iyz="2.4178E-06"
        izz="0.0045207" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/LB_SHANK.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/LB_SHANK.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LB_KFE"
    type="revolute">
    <origin
      xyz="-0.1782 0.090798 0.0835"
      rpy="0 0 0" />
    <parent
      link="LB_THIGH" />
    <child
      link="LB_SHANK" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="LB_FOOT">
    <inertial>
      <origin
        xyz="-0.0031505 0.018764 -0.00025041"
        rpy="0 0 0" />
      <mass
        value="0.065235" />
      <inertia
        ixx="1.2148E-05"
        ixy="6.015E-08"
        ixz="2.7952E-08"
        iyy="1.3209E-05"
        iyz="9.5546E-08"
        izz="1.4307E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/LB_FOOT.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.50196 0.50196 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4090六足3.0.SLDASM/meshes/LB_FOOT.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LB_FIX"
    type="fixed">
    <origin
      xyz="-0.0081826 -0.29917 0.010893"
      rpy="3.1416 0 3.1416" />
    <parent
      link="LB_SHANK" />
    <child
      link="LB_FOOT" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>